<%= @user.email %>'s created events
<ul>
    <% @events.each do |event| %>
        <li>Name: <%= event.name %>: <%= event.event_date %></li>
    <% end %>
</ul>


Past Events attended:
<div>
    <ul>

    <% @user.attended_events.each do |event| %>
        <% if event.event_date < Date.today %>
        <li>Name: <%= event.name %>, Date: <%= event.event_date %></li>
        <% end %>
    <% end %>
    </ul>
</div>
Future Events:
<div>
    <ul>

    <% @user.attended_events.each do |event| %>
        <% if event.event_date > Date.today %>
        <li>Name: <%= event.name %>, Date: <%= event.event_date %></li>
        <% end %>
    <% end %>
    </ul>
</div>



