<div class="wrapper form">

    <%= form_with model: @event do |f| %>
        <%= f.text_field :name, required: true %>
        <%= f.date_field :event_date, required: true %>
        <%= f.text_field :details, required: true %>
        <%= f.file_field :event_image %>
        Check the box to make this event private:
        <%= f.check_box :private %>
        <%= f.submit 'Submit' %>
    <% end %>
</div>