
<div class="wrapper">
    <% if @future_events.length > 0 %>
    <h1>Upcoming Events</h1>

    <div class="events future-events">
            <% @future_events.each do |event| %>
                <div class="card event-card">
                <div class="evnt-img">
                    <%= image_tag(event.event_image, style:'max-height: 100%; height: auto;') unless event.event_image[0].nil? %>
                </div>                    
                <div class="container">
                        <h2><%= event.name %></h2>
                        <h3>Date: <%= event.event_date %></h3>
                        <%= link_to 'See event', event_path(event) %>
                    </div>
                </div>
            <% end %>
    </div>
    <% end %>

    <% if @past_events.length > 0 %>
    <h1>Past Events</h1>

    <div class="events past-events">
        <% @past_events.each do |event| %>
            <div class="card">
            <div class="evnt-img">
                <%= image_tag(event.event_image, style:'width:100%; height: auto;') unless event.event_image.nil? %>
            </div>                
            <div class="container">
                    <h2><%= event.name %></h2>
                    <h3>Date: <%= event.event_date %></h3>
                    <%= link_to 'See event', event_path(event) %>
                </div>
            </div>
        <% end %>
    </div>
    <% end %>


</div>
