<div class="wrapper event-show">
        <div>
            <h1 class="evnt-name"><%= @event.name %></h1> 
            <div>
                <h2 class="host">Host: <%= @event.creator.first_name %> <%= @event.creator.last_name %></h2>
            </div>

            <div>
                <h3 class="date">Date: <%= @event.event_date %></h3>
            </div>
            <div>
                <h3 class="location">Location:<br> <%= @event.location %></h3>
            </div>
            <div class="creator-options">
                <% if @event.creator == current_user %>
                    <div class="edit-evnt-btns">
                        <%= link_to 'Send invitations', new_event_invitation_path(@event.id), class: "btn" %>
                        <%= link_to 'Edit Event', edit_event_path, class: "btn" %>
                        <%= link_to 'Cancel Event', event_path, method: :delete, class: "btn", data: {confirm: "Are you sure?"} %>
                    </div>
                <% end %>
            </div>

            <div class="accept-btns">
            <% if @event.private == nil || @event.private == false %>
                <% if @event.event_attendees.include?(current_user) %>
                    <%= link_to 'Cancel attendance', cancel_attend_event_path, class: "btn" %>
                <% else %>
                    <%= link_to 'Attend', attend_event_path, class: "btn" %>
                <% end %>
            <% elsif @invitation != nil && @event.private == true && @event.invitations.where(invitee_id: current_user.id) %>
                <% if @invitation.accepted == true %>
                    <%= link_to 'Reject', reject_invitation_path(@invitation.id), class: "invite reject-btn btn" %>
                <% elsif @invitation.accepted == false %>
                    <%= link_to 'Accept', accept_invitation_path(@invitation.id), class: "invite accept-btn btn" %>
                <% elsif @invitation.accepted == nil %>
                    <%= link_to 'Reject', reject_invitation_path(@invitation.id), class: "invite reject-btn btn" %>
                    <%= link_to 'Accept', accept_invitation_path(@invitation.id), class: "invite accept-btn btn" %>
                <% end %>
            <% end %>
            </div>

        </div>

        <div class="evnt-img">
            <%= image_tag(@event.event_image, style:'width:100%') %>

        </div>
        <% if @event.event_attendees.length > 0 %>
            <div>
                <h4 class="attendees">Attendees</h4>
                <%  @event.event_attendees.each do |a| %>
                    <div>
                        <%= a.first_name %> <%= a.last_name %>
                    </div>
                <% end %>
            </div>
        <% end %>

    <div class="details">
        <h4>Details</h4>
        <p><i><%= @event.details %></i></p>
    </div>
</div>


</div>
                

</div>
