
<div>
    <div>
        Name: <%= @event.name %>
    </div>
    <div>
    Date:<%= @event.event_date %>
    <div>
        Creator: <%= @event.creator.email %>
    </div>


    <% if @event.creator == current_user %>
        <%= link_to 'Edit Event', edit_event_path %>
        <%= link_to 'Cancel Event', event_path, method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
</div>
<div>
    Attendees:
    <%  @event.event_attendees.each do |a| %>
    <ul>
        <li><%= a.email %></li>
    
    </ul>
    <% end %>
</div>
<% if @event.event_attendees.include?(current_user) %>
<%= link_to 'Cancel attendance', cancel_attend_event_path %>

<% else %>
<%= link_to 'Attend', attend_event_path %>
<% end %>
