
<div class="wrapper">

<div class="profile-nav">
    <div class="profile-nav-item tab1-toggle">Pending:</div>
    <div class="profile-nav-item tab2-toggle">Accepted</div>
    <div class="profile-nav-item tab3-toggle">Rejected</div>
</div>

    <div class="events tab1">
        <% i = 0 %>
        <% @invitations.each do |invite| %>

            <% if invite.accepted == nil %>
            <% i += 1 %>
            <div class="card">
            <div class="evnt-img">
                    <%= image_tag(invite.event.event_image, style:'height:50%') %>
            </div>
            <div class="container">
                    <h2><%= invite.event.name %></h2>
                    <h3>Date: <%= invite.event.event_date %></h3>
                    <%= link_to 'See event', event_path(invite.event), class: "evnt-info" %>
                </div>
            </div>
            <% end %>
        <% end %>
        <% if i == 0 %>
            <h2 class="invite-search">0 pending invitations</h2>
        <% end %>
    </div>


    <div class="events tab2">
        <% j = 0 %>

        <% @invitations.each do |invite| %>
            <% if invite.accepted == true %>
            <% j += 1 %>
            <div class="card">
            <div class="evnt-img">
                    <%= image_tag(invite.event.event_image, style:'height: 50%;') %>
            </div> 
            <div class="container">
                    <h2><%= invite.event.name %></h2>
                    <h3>Date: <%= invite.event.event_date %></h3>
                    <%= link_to 'See event', event_path(invite.event), class: "evnt-info" %>
                </div>
            </div>
            <% end %>
        <% end %>
        <% if j == 0 %>
            <h2 class="invite-search">0 accepted invitations</h2>
        <% end %>
    </div>

    <div class="events tab3">
        <% k = 0 %>

        <% @invitations.each do |invite| %>
            <% if invite.accepted == false %>
                <% k += 1 %>

                <div class="card">
                <div class="evnt-img">
                        <%= image_tag(invite.event.event_image, style:'height: 50%;') %>
                </div>                 
                    <div class="container">
                        <h2><%= invite.event.name %></h2>
                        <h3>Date: <%= invite.event.event_date %></h3>
                        <%= link_to 'See event', event_path(invite.event), class: "evnt-info" %>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if k == 0 %>
            <h2 class="invite-search">0 rejected invitations</h2>
        <% end %>
    </div>

</div>