<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <%= link_to 'Home', events_path %>
      </div>
      <div>
        <%= link_to 'User Profile', user_path(current_user) %>
      </div>
      <div>
        <%= link_to 'Create New Event', new_event_path %>
      </div>
      <div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
