<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ed6bc2265d.js" crossorigin="anonymous"></script>

  </head>

  <body>
  <header>
    <div class="nav-wrapper">
      <nav class="navbar">
      <a href="" class="navToggle nav-link">Menu</a>

          <div class="nav-link menu-item">
            <%= link_to 'Home', events_path %>
          </div>
          <% if current_user %>
            <div class="nav-link menu-item">
              <%= link_to 'User Profile', user_path(current_user) %>
            </div>

            <div class="nav-link menu-item">
              <%= link_to 'Create New Event', new_event_path %>
            </div>
            <div class="nav-link menu-item">
              <%= link_to 'Invitations', invitations_path %>
            </div>
            <div class="nav-link menu-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
          <div>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
